# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Database
*.sqlite3

# Python cache files
*.pyc

# Environment variables files
.env
